
td, th {
    border:1px solid #cccccc;
    width:111px;
    text-align: center;
}
#textline {
    background :rgb(241, 241, 241);
    width: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
#indexdiv{
    width:500px;
    height:500px;  
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
#indexdiv #inner{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
body {
    height:500px;
}
#extraworkdj,#dutydj{
   position: relative;
    top: 50%;
    transform: translateY(-50%);
}

table#curtab {
	width:980px;
    border-collapse: collapse;
    table-layout:fixed;
}
