<html lang="zh-cn">
{% include 'mysite/header.html' %}
<body>
<div class="container" {% if extrawork_list %} style="width:1302px;" {% else %}  style="width:1030px;"   {% endif %}>

<div class="page-header text-center">
<h1>值班加班信息管理系统</h1>
</div>

<ol class="breadcrumb">
  <li><a href="{% url "index" %}">主页</a></li>
  <li><a href="{% url "dj:chgpass" %}">修改密码</a></li>
  <li class="active">查询</li>
</ol>

<form action="{% url "dj:gettable" %}" class="form-horizontal" method="POST" role="form" id="cxform"> {% csrf_token %} 
起始日期: <input type="text" name="sdate" {% if lstsdate  %} value="{{lstsdate}}" {% endif %} id="sdate"> &nbsp;&nbsp;&nbsp;&nbsp;
结束日期: <input type="text" name="tdate" {% if lsttdate  %} value="{{lsttdate}}" {% endif %} id="tdate">&nbsp;&nbsp;&nbsp;&nbsp;
类型
<select form="cxform" name="cxtype" >
 							<option value="duty" {% if selectfg == 'duty' %} selected="selected" {% endif %}>值班</option>
 							<option value="extrawork"  {% if selectfg == 'extrawork' %} selected="selected" {% endif %}>加班</option> 						
 						</select>
 						&nbsp;&nbsp;&nbsp;&nbsp;
<button type="submit" class="btn btn-warning" >查询</button>
 {% if  extrawork_list or duty_list %} <a href="{% url 'dj:down' %}" class="btn btn-warning" >下载表格</a> {% endif %}
</form>

{% if  extrawork_list %}
<h2 class="text-center">加班登记统计表 </h2>
<table class="table table-striped">
	<tr>
		<td>日期 </td>
		<td>上午姓名 </td>
		<td>加班内容 </td>
		<td>金额(元)</td>
		<td>下午姓名</td>
		<td>加班内容 </td>
		<td>金额(元) </td>
		<td>晚上姓名</td>
		<td>加班内容 </td>
		<td>金额(元) </td>
		<td>备注</td>
		<td>操作</td>
	</tr>
	{% for extrawork in extrawork_list %}
	<form action="{% url 'dj:gettable' %}" method="POST" role="form">{% csrf_token %}
	<tr>	
		<input type='hidden' name="cxtype" value="{{selectfg}}">
		<input type='hidden' name="sdate" value="{{lstsdate}}">
		<input type='hidden' name='tdate' value="{{lsttdate}}">
		<input type='hidden' name="savetype" value="extrawork">
		<input type='hidden' name="savedate" value="{{extrawork.date|date:"Y-m-d"}}">
		<td>{{extrawork.date|date:"Y-m-d"}} </td>

		<td><input  type="text" class="form-control" name="amname" id="textline" value="{{extrawork.amname}}"  autofocus> </td>

		<td><input type="text" class="form-control" name="amtext" id="textline" value="{{extrawork.amtext}}"  autofocus> </td>

		<td><input type="text" class="form-control" name="amamount" id="textline" value="{{extrawork.amamount}}"  autofocus> </td>

		<td><input type="text" class="form-control" name="pmname" id="textline" value="{{extrawork.pmname}}"   autofocus></td>

		<td><input type="text" class="form-control" name="pmtext" id="textline" value="{{extrawork.pmtext}}"  autofocus> </td>

		<td><input type="text" class="form-control" name="pmamount" id="textline" value="{{extrawork.pmamount}}"  autofocus> </td>

		<td><input type="text" class="form-control" name="evename" id="textline" value="{{extrawork.evename}}"   autofocus></td>

		<td><input type="text" class="form-control" name="evetext" id="textline" value="{{extrawork.evetext}}"  autofocus> </td>

		<td><input type="text" class="form-control" name="eveamount" id="textline" value="{{extrawork.eveamount}}"  autofocus> </td>

		<td>	
		<input type="text" class="form-control" name="remark" id="textline" value="{{extrawork.remark}}"  autofocus > </td>
		<td>
		<button class="btn  btn-danger" type='submit' >修改</button>
		</td>

	</tr>
	</form>
	{% endfor %}
</table>
{% endif %}


{% if duty_list %}
<h2 class="text-center">今日值班登记 </h2>
<table class="table table-striped">
	<tboday>
	<tr>
		<td>日期 </td>
		<td>上午姓名 </td>
		<td>金额(元)</td>
		<td>下午姓名</td>
		<td>金额(元) </td>
		<td>晚上姓名</td>
		<td>金额(元) </td>
		<td style="width:200px;">备注</td>
		<td>操作</td>
	</tr>
	{% for duty in duty_list %}
	<form action="{% url 'dj:gettable' %}" method="POST" role="form"> {%  csrf_token %}
	<tr>
		<input type='hidden' name="cxtype" value="{{selectfg}}">
		<input type='hidden' name="sdate" value="{{lstsdate}}">
		<input type='hidden' name='tdate' value="{{lsttdate}}">
		<input type='hidden' name="savetype" value="duty">
		<input type='hidden' name="savedate" value="{{duty.date|date:"Y-m-d"}}">
		<td>{{duty.date|date:"Y-m-d"}} </td>
		<td><input  type="text" class="form-control" name="amname" id="textline" value="{{duty.amname}}"  autofocus> </td>
		<td><input type="text" class="form-control" name="amamount" id="textline" value="{{duty.amamount}}"  autofocus> </td>
		<td><input type="text" class="form-control" name="pmname" id="textline" value="{{duty.pmname}}"   autofocus></td>
		<td><input type="text" class="form-control" name="pmamount" id="textline" value="{{duty.pmamount}}"  autofocus> </td>
		<td><input type="text" class="form-control" name="evename" id="textline" value="{{duty.evename}}"   autofocus></td>
		<td><input type="text" class="form-control" name="eveamount" id="textline" value="{{duty.eveamount}}"  autofocus> </td>
		<td>
		<input type="text" class="form-control" name="remark" id="textline" value="{{duty.remark}}"  autofocus style="width:180px"> </td>
		</td>
		<td>
		<button class="btn  btn-danger" type='submit' >修改</button>
		</td>
	</tr>
	</form>
	{% endfor %}
	</tboday>

</table>
{% endif %}


</div>
</div>
</body>
</html>
