{% include 'mysite/header.html' %}
<br>
<div id="djtable" align="center" style="width:1312px;margin-left:auto;margin-right:auto;">
<div id ="navtop" align="center">
<h2>值班加班信息管理系统</h2>
<a class="btn btn-lg btn-default" href="{% url "index" %}" role="button">主页</a>
&nbsp;&nbsp;
<a class="btn btn-lg btn-default" href="{% url "dj:admin" %}" role="button">查询</a>
&nbsp;&nbsp;
<a class="btn btn-lg btn-danger" href="{% url "dj:chgpass" %}" role="button">修改密码</a>
</div>
<div class="container">
<form action="{% url "dj:chgpass" %}" class="form-horizontal" method="POST" role="form" id="chgpassform"> {% csrf_token %} 
新密码: <input type="password" name="password" > 
 						&nbsp;&nbsp;&nbsp;&nbsp;
<button type="submit" class="btn btn-warning" >修改</button>

</form>



</div>
</div>