<html lang="zh-cn">
{% include 'mysite/header.html' %}
<body>
<div class="container">

<div class="page-header text-center">
<h1>值班加班信息管理系统</h1>
</div>

<ol class="breadcrumb">
  <li><a href="{% url "index" %}">主页</a></li>
  <li class="active">修改密码</li>
  <li><a href="{% url "dj:admin" %}">查询</a></li>
</ol>

<form action="{% url "dj:chgpass" %}" class="form-horizontal" method="POST" role="form"> {% csrf_token %} 
新密码: <input type="password" name="password" > 
 						&nbsp;&nbsp;&nbsp;&nbsp;
<button type="submit" class="btn btn-warning" >修改</button>

</form>
</div>
</body>
</html>