<html lang="zh-cn">
{% load static  %}
{% include 'mysite/header.html' %}
<body>
<div class="container">
<div class="page-header text-center">
<h1>今日值班登记</h1>
</div>
<form action="{% url "dj:handleduty" %}" method="POST" role="form">
 {% csrf_token %} 
<table class="table table-striped">
	<tr>
		<td>日期 </td>
		<td>上午姓名 </td>
		<td>金额(元)</td>
		<td>下午姓名</td>
		<td>金额(元) </td>
		<td>晚上姓名</td>
		<td>金额(元) </td>
		<td style="width:200px;">备注</td>
	</tr>
	<tr>
		<td>{{duty.date|date:"Y-m-d"}} </td>
		<td><input  type="text" class="form-control" name="amname" value="{{duty.amname}}"  autofocus> </td>
		<td><input type="text" class="form-control" name="amamount" value="{{duty.amamount}}"  autofocus> </td>
		<td><input type="text" class="form-control" name="pmname" value="{{duty.pmname}}"   autofocus></td>
		<td><input type="text" class="form-control" name="pmamount" value="{{duty.pmamount}}"  autofocus> </td>
		<td><input type="text" class="form-control" name="evename" value="{{duty.evename}}"   autofocus></td>
		<td><input type="text" class="form-control" name="eveamount" value="{{duty.eveamount}}"  autofocus> </td>
		<td>{{duty.remark}}
		{% if duty.remark != ' ' %}
		<br >
		{% endif %}
		<input type="text" class="form-control" name="remark" autofocus style="width:170px"> 
		</td>
	</tr>
</table>
<button type="submit" class="btn btn-warning pull-right">提交</button>
</form>
<br>
<br>
<br>

<ol class="breadcrumb">
  <li><a href="{% url "index" %}">主页</a></li>
  <li><a href="{% url "dj:extrawork" %}">加班签到</a></li>
  <li class="active">值班签到</li>
</ol>
</div>
</body>
</html>