<html lang="zh-cn">
{% load static  %}
{% include 'mysite/header.html' %}
<body>
<div class="container">

<div class="page-header text-center">
	<h1>今日加班登记</h1>
</div>

<div class="col-sm-8 col-sm-offset-2">
	<form action="{% url "dj:handleextrawork" %}" method="POST" role="form">
	 {% csrf_token %}  
	<table class="table table-striped">
		<tr>
			<td>日期</td>
			<td colspan="2">备注</td>
		</tr>
		<tr>
			<td>{{extrawork.date|date:"Y-m-d"}} </td>
			<td colspan="2">{{extrawork.remark}}
			{% if extrawork.remark != ' ' %}
			<br >
			{% endif %}
			<input type="text" class="form-control" name="remark">
			</td>
		</tr>
		<tr>
			<td>上午姓名 </td>
			<td>加班内容 </td>
			<td>金额(元)</td>
		</tr>
		<tr>
			<td><input  type="text" class="form-control" name="amname" value="{{extrawork.amname}}"  autofocus> </td>

			<td><input type="text" class="form-control" name="amtext" value="{{extrawork.amtext}}"  autofocus> </td>

			<td><input type="text" class="form-control" name="amamount" value="{{extrawork.amamount}}"  autofocus> </td>
		</tr>
		<tr>
			<td>下午姓名</td>
			<td>加班内容 </td>
			<td>金额(元) </td>
		</tr>
		<tr>
			<td><input type="text" class="form-control" name="pmname" value="{{extrawork.pmname}}"   autofocus></td>

			<td><input type="text" class="form-control" name="pmtext" value="{{extrawork.pmtext}}"  autofocus> </td>

			<td><input type="text" class="form-control" name="pmamount" value="{{extrawork.pmamount}}"  autofocus> </td>
		</tr>
		<tr>
			<td>晚上姓名</td>
			<td>加班内容 </td>
			<td>金额(元) </td>
			
		</tr>
		<tr>
			<td><input type="text" class="form-control" name="evename" value="{{extrawork.evename}}"   autofocus></td>

			<td><input type="text" class="form-control" name="evetext" value="{{extrawork.evetext}}"  autofocus> </td>

			<td><input type="text" class="form-control" name="eveamount" value="{{extrawork.eveamount}}"  autofocus> </td>
		</tr>
	</table>
	<button type="submit" class="btn btn-warning pull-right">提交</button>
	</form>
</div>

<div class="col-sm-12">
<br>
<ol class="breadcrumb">
  <li><a href="{% url "index" %}" role="button">主页</a></li>
  <li class="active">加班签到</li>
  <li><a href="{% url "dj:duty" %}">值班签到</a></li>
</ol>
</div>

</div>
</body>
</html>