{% include 'mysite/header.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "mysite/signin.css" %}">
<div class="container">
      <form class="form-signin" action="{% url 'dj:handlelogin' %}" method="post">
      {% csrf_token %}
        <h2 class="form-signin-heading">请登录：</h2>
    	<input type="password" class="form-control" name="password" id="inputPasswd" placeholder="请输入密码" autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>
    </div>
</div>
